.display {
  margin: 0 auto;
  width: 100%;
  height: 50px;
  border: 2px solid black;
  font-size: 40px;
}

.button-container {
  display: flex;
  margin: 0 auto;
  border: 2px black solid;
  width: 100%;
}

.number-container {
  width: 60%;
}

.operator-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.number-button {
  width: 33.3%;
  height: 25%;
}
